{{#if flag}}
<tr>
    <td colspan="18" class="text-center">No Data</td>
</tr>
{{else}} {{#each this}}

<tr>
    <td class="t-c">{{ROWNUM_}}</td>
    <td class="t-l"> {{monitorLevel}} </td>
    <td class="t-c"> {{orderNo}}</td>
    <td class="t-c"> {{memberName}}</td>
    <td class="t-c"> {{nodeName}} </td>
    <td class="t-c"> {{memberTypeName}} </td>
    <td class="t-c"> {{dateTimeFormatHelper startTime}} </td>
    <td class="t-c"> {{dateTimeFormatHelper endTime}} </td>
    <td class="t-c"> {{formatDuration duration}} </td>
    <td class="t-c"> {{successNum}} </td>
    <td class="t-c"> {{errorNum}} </td>
    <td class="t-c"> <span style="color: {{executeFlagFormat executeFlag}}">●</span> {{executeFlagName}} </td>
    <td class="t-l" style="max-width:160px;">
        <div style="width: 160px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;cursor:pointer; color: #29b2e6" class="executeMsg">{{executeMsg}}</div>
    </td>
</tr>
{{/each}} {{/if}}