{{#if flag}}
	<tr><td colspan="9" class="text-center">No Data</td></tr>
{{else}}
{{#each this}}
    <tr data-scheduleId={{scheduleId}}>
        <td class="t-c">
            <input type="checkbox" name="check" data-obj='{{obj2StrHelper this}}'/> </td>
        <td class="width40 t-c"> {{ROWNUM_}}</td>
        <td> {{scheduleName}} </td>
        <td> {{jobNo}} </td>
        <td> {{folderName}} </td>
        <td> {{jobName}} </td>
        <td class="t-c"> {{dateTimeFormatHelper beforeTime}} </td>
        <td class="t-c"> {{#if lastExecStateName}} <span style="color: {{executeFlagFormat lastExecState}}">●</span> {{lastExecStateName}}{{/if}} </td>
        <td class="t-c"> {{dateTimeFormatHelper nextTime}} </td>
        <td class="t-l ellipsis" style="max-width: 300px;" title="{{scheduleLog}}"> {{scheduleLog}} </td>
        <td class="t-c"> <input type="checkbox" {{#equal startFlag "2"}}checked{{/equal}} class="make-switch" data-size="small"></td>
    </tr>
{{/each}}
{{/if}}