{{#if flag}}
 <tr><td colspan="6" class="t-c">暂无数据</td><tr>
{{else}}
{{#each this}}
	<tr>
		<td class="t-c">
			{{#equal status '0'}}
				<input type="checkbox" class="checkboxes J_fieldcheckbox" taskId={{taskId}} disabled>
			{{/equal}}
	    {{#equal status '2'}}
				<input type="checkbox" class="checkboxes J_fieldcheckbox" taskId={{taskId}} >
			{{/equal}}
			{{#equal status '9'}}
				<input type="checkbox" class="checkboxes J_fieldcheckbox" taskId={{taskId}}>
			{{/equal}}
		</td>
		<td class="t-l" title="{{taskId}}">{{taskName}}</td>
		<td class="t-c">{{{StatusName}}}</td>
		<td class="t-c">{{taskResult}}</td>
		<td class="t-c">{{startTime}}</td>
		<td class="t-c">{{endTime}}</td>
		<td class="t-c">{{msTimeToChange timeCost}}</td>
		<td class="t-c"><a class="J_editReport" name="Detail_Logname" data-taskLog="{{taskLog}}">任务日志详情</a></td>
	</tr>
{{/each}}
{{/if}}
