{{#if flag}}
	<tr><td colspan="8" class="text-center">暂无数据</td></tr>
{{else}}
{{#each this}}
   <tr>
        <td class="t-c">
            <input type="checkbox" name="check" jobId={{jobId}}  jobName={{jobName}} folderId={{folderId}}> </td>
        <td class="width40 t-c"> {{ROWNUM_}}</td>
        <td class="t-c"> {{folderName}} </td>
        <td> {{jobNo}} </td>
        <td> {{jobName}} </td>
        <td> {{jobDesc}} </td>
        <td class="t-c"> {{dateTimeFormatHelper modifiedTime}} </td>
        <td class="t-c"> {{modifiedEr}} </td>
        <td class="t-c"> <a name="check" jobId={{jobId}}>查看任务</a></td>
    </tr>
{{/each}}
{{/if}}