{{#if flag}}
	<tr><td colspan="4" class="text-center">暂无数据</td></tr>
{{else}}
    {{#each this}}
        <tr>
            <td class="width40"> {{rownumber @index}} </td>
            <td class="t-c width40">
            <input type="checkbox" name="check"> </td>
            <td data-type="import"> 第 {{rownumber @index}} 列 </td>
            <td data-type="target" data-origin="{{columnName}}"> {{columnName}} </td>
        </tr>
    {{/each}}
{{/if}}