{{#if flag}}
	<tr><td colspan="10" class="text-center">No Data</td></tr>
{{else}}
{{#each this}}
    <tr>
        <td class="width40">
            <input type="checkbox" name="check" data-obj='{{obj2StrHelper this}}'/> </td>
        <td class="width40"> {{ROWNUM_}}</td>
        <td> {{fileName}} </td>
        <td class="t-c"> {{importFlagName}} </td>
        <td class="t-c"> {{dateTimeFormatHelper createTime}} </td>
        <td> {{createBy}} </td>
        <td> {{remark}}</td>
    </tr>
{{/each}}
{{/if}}