{{#if flag}}
	<tr><td colspan="9" class="text-center">暂无数据</td></tr>
{{else}}
{{#each this}}
    <tr edit="0" basicId="{{basicId}}" addNew="0" tableId="{{tableId}}" chianeseName="{{chianeseName}}" englishName="{{englishName}}" folderName="{{folderName}}" dbTablespace="{{dbTablespace}}" dbUser="{{dbUser}}" dictId="{{dictId}}" remark="{{remark}}" folderId="{{folderId}}" dictName = "{{dictName}}">
        <td class="t-c"> {{tableId}} </td>
        <td> {{chianeseName}} </td>
        <td> {{englishName}} </td>
        <td class="foldername"> {{folderName}} </td>
        <td> {{dbTablespace}} </td>
        <td> {{dbUser}} </td>
        <td class="dictname"> {{dictName}} </td>
        <td title="{{remark}}"> <div>{{remark}}</div> </td>
        <td> 
            <a class="J_dataModel_save hide">保存</a>
            <a class="J_dataModel_edit">编辑</a> 
            <a class="J_dataModel_cancel hide">取消</a> 
            <a class="J_dataModel_del hide">删除</a> 
        </td>
    </tr>
{{/each}}
{{/if}}