{{#if flag}}
	<tr><td colspan="10" class="text-center">暂无数据</td></tr>
{{else}}
{{#each this}}
    <tr edit="0" addNew="0" modelChianeseName="{{modelChianeseName}}" chianeseName="{{chianeseName}}" englishName="{{englishName}}"  columnLength="{{columnLength}}" columnTypeKey="{{columnTypeKey}}" isForeign="{{isForeign}}" columnTypeVal="{{columnTypeVal}}" isPrimary="{{isPrimary}}" isNull="{{isNull}}" remark="{{remark}}" columnId="{{columnId}}" tableId="{{tableId}}">
        <td class="t-c" class="modelChianeseName"> {{modelChianeseName}} </td>
        <td class="chianeseName"> {{chianeseName}} </td>
        <td class="englishName"> {{englishName}} </td>
        <td class="columnTypeVal"> {{columnTypeVal}} </td>
        <td class="columnLength"> {{columnLength}} </td>
        <td class="isPrimary">
            {{#equal isPrimary "0"}}否{{/equal}}
		    {{#equal isPrimary "1"}}是{{/equal}}
        </td>
        <td class="isNull">
            {{#equal isNull "0"}}否{{/equal}}
		    {{#equal isNull "1"}}是{{/equal}}
        </td>
        <td class="isForeign"> 
            {{#equal isForeign "0"}}否{{/equal}}
		    {{#equal isForeign "1"}}是{{/equal}}
        </td>
        <td title="{{remark}}" class="remark"> <div>{{remark}}</div> </td>
        <td> 
            <a class="J_dataModel_save hide">保存</a>
            <a class="J_dataModel_edit">编辑</a> 
            <a class="J_dataModel_cancel hide">取消</a>
            <a class="J_dataModel_del hide">删除</a> 
        </td>
    </tr>
{{/each}}
{{/if}}