{{#if flag}}
	<tr><td colspan="7" class="text-center">暂无数据</td></tr>
{{else}}
{{#each this}}
    <tr>
        <td> {{chianeseName}}</td>
        <td> {{englishName}}</td>
        <td> {{dataType}}</td>
        <td> {{nullable}}</td>
        <td> {{primary}}</td>
        <td> </td>
        <td> </td>
    </tr>
{{/each}}
{{/if}}